h1 {
  color: #0041aa;
  border: 2px solid #4575c1;
  font-family: fantasy;
  text-align: center;
  font-weight: lighter;
  text-decoration: underline;
}
h2 {
  font-family: cursive;
  font-size: 20px;
  color: #4575c1;
  border-top: 2px solid #4575c1;
  width: 100%;
}
p {
  font-family: sans-serif;
  color: #4575c1;
}
img {
  width: 400px;
  length: 600px;
}
body {
  background-color: #D3D3D3;
}
a:hover {
  color: green;
}
